@import "styles-variables";

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
